<body>
    <style>
      .partialheader {
        display: none;
      }
    </style>
    <!-- Sidenav -->
    <%- include('partials/sidebar'); -%>
    <div class="main-content">
  <div class="header pb-6" style="background-color: #25DCE8;">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0"><%= title %></h6>
               </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="/admin/addPaymnetDurationView" class="btn btn-sm btn-neutral">New</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Payment Duration List</h3>
              <% if(message.length>0){%>
                <h3 class="mb-0" style="color: green;"><%- message %></h3>
              <%}%>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="status">No of Months</th>
                    <th scope="col" class="sort" data-sort="status">Amount (Rs)</th> 
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list"> 
                  <% for(var i=0; i < paymnets.length; i++) { %>                
                  <tr>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status"><%= paymnets[i].no_of_months%> Months</span>
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status"><%= paymnets[i].amount %>.00</span>
                      </span>
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-cog fa_custom fa-2x" style="size: 20px;color:#25DCE8;"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">   
                          <a class="dropdown-item" href="/admin/paymnetDurationView/<%= paymnets[i].payment_id %>">View Payment Duration</a>                       
                          <a class="dropdown-item" href="/admin/paymnetDuration/delete/<%= paymnets[i].payment_id %>" onclick="return confirm('Are you sure to delete?')">Delete <%= paymnets[i].no_of_months%> Moths</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('scripts'); -%>
  </body>