<body>
    <style>
      .partialheader {
        display: none;
      }
    </style>
    <!-- Sidenav -->
    <%- include('partials/sidebar'); -%>
    <div class="main-content">
  <div class="header pb-6" style="background-color: #25DCE8;">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0"><%= title %></h6>
            </div>
            <div class="col-lg-6 col-5 text-right">
             <a href="/admin/addServiceView" class="btn btn-sm btn-neutral">Add New Service</a>
             <a href="/admin/report/service" class="btn btn-sm btn-neutral">Generate Service Report</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row" >
        <div class="col" >
          <div class="card" >
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Service List</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive" >
              <table class="table align-items-center table-flush" style="width: 800px;">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="status">Title</th>                 
                    <th scope="col" class="sort" data-sort="completion">Service Type</th>
                    <th scope="col" class="sort" data-sort="budget">Category</th>
                    <th scope="col" class="sort" data-sort="completion">Image</th>
                    <!-- <th scope="col" class="sort" data-sort="completion">Location</th> -->
                    <th scope="col" class="sort" data-sort="status">Price(Rs)</th>  
                    <th scope="col" class="sort" data-sort="name">User</th> 
                    <th scope="col" class="sort" data-sort="completion">Is Approved</th>
                    <th scope="col" class="sort" data-sort="completion">User Status</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list"> 
                  <% for(var i=0; i < services.length; i++) { %>                
                  <tr>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status"><%= services[i].title%></span>
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status"><%= services[i].service_type %></span>
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status"><%= services[i].category%></span>
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4" style="width: 150px;height: 150px">
                        <img alt="Image placeholder" src="../uploads/<%= services[i].image%>" style="height: 100%;width: 100%;">
                        <!-- <span class="status"><%= services[i].image %></span> -->
                      </span>
                    </td>
                    <!-- <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status"><%= services[i].city %></span>
                      </span>
                    </td> -->
                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status"><%= services[i].price %>.00</span>
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4">
                        <span class="status"><%= services[i].user_name %></span>
                      </span>
                    </td>
                    <td>
                        <span class="status"><%if(services[i].isApproved==="yes"){ %>Service Approved<% } else {%>Pending Approval<% }%></span>                    
                    </td>
                    <!-- <td>
                      <span class="status"><%= services[i].creatAt %></span>
                    </td> -->
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-cog fa_custom fa-2x" style="size: 20px;color:#25DCE8;"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="/admin/serviceView/<%= services[i].service_id %>">View Service</a>                        
                          <a class="dropdown-item" href="/admin/service/delete/<%= services[i].service_id %>">Delete Service</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('scripts'); -%>
  </body>