<body>
    <style>
      .partialheader {
        display: none;
      }
    </style>
    <!-- Sidenav -->
    <%- include('partials/sidebar'); -%>
    <div class="main-content">
    <div class="header pb-6" style="background-color:#25DCE8"></div>
    <div class="container-fluid mt--5">
    <!-- Form -->
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <h3 class="mb-0">View Service Type</h3>
                    </div>
                    <form method="POST" action="/admin/editServiceType/<%= service_type.service_type_id%>">
                        <div class="row pl-5">
                            <div class="col-lg-5">
                                    <div class="form-group">
                                        <span class="status" style="margin-bottom: 18px;">Service Type</span>
                                        <div class="input-group input-group-alternative">
                                            <span class="form-control"><%= service_type.type%></span>
                                        </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <span class="status" style="margin-bottom: 18px;">Service Price Set as</span>
                                    <div class="input-group input-group-alternative">
                                        <select name="price_set_as" class="form-control" required>                                            
                                            <option value="" disabled="disabled">- Choose How price set As -</option>
                                            <option value="KM" <%= service_type.price_set_as === 'KM' ? 'selected': '' %>>per KM</option>
                                            <option value="Year" <%= service_type.price_set_as === 'Year' ? 'selected': '' %>>per Year</option>
                                            <option value="Month" <%= service_type.price_set_as === 'Month' ? 'selected': '' %>>per Month</option>
                                            <option value="Day" <%= service_type.price_set_as === 'Day' ? 'selected': '' %>>per Day</option>                                            
                                            <option value="Hour" <%= service_type.price_set_as === 'Hour' ? 'selected': '' %>>per Hour</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- //check this div -->
                            </div>
                        </div>  
                            
                        <div class="row pl-5 pb-2">
                            <div class="col-lg-5">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                        <div class="row pl-5 pb-5">
                            <% if (err) { %>
                                <strong class="invalid-feedback" style="display: block">
                                    <%= msg %>
                                </strong>
                            <% } else{%>
                                <strong class="valid-feedback" style="display: block">
                                    <%= msg %>
                                </strong>
                             <% }%>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<%- include('scripts'); -%>
</body>